{% extends 'base.html' %}
{% block content %}

<div class="container">
<h1>Add to Board</h1>
{% if not boards %}
<form>
    <a style='text-align:center' class='btn btn-success' href="/users/boards/new">Create New Board</a>
</form>
{% else %}
    <div class="container">
        <div class="row"> 
            {% for board in boards %}
            <div class="col-6 col-md-4">
                <form method="POST">
                    
                        <a class="board" href="/boards/{{board.id}}/add/{{recipe.id}}">
                            <div class="card board">
                                <h2 class="card-img-top">{{board.name}}</h2>
                                <p>{{board.recipe_ids | length}} Recipes</p>
                            </div>
                            
                        </a>
                    
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}