{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        {% for result in results %}
        {% if result.image %}
        <div class="col-6 col-md-4">
            <div class="card">
                <a href="/recipe/{{result.id}}" class="link">
                    <img src="{{result.image}}" alt="" class="img-fluid card-img-top" style="width: 100%;">
                    <div class="card-body">
                        <h4 class="card-title">{{result.title}}</h4>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}