{% extends 'base.html' %}
{% block content %}

{% if results %}

<div class="container-fluid">
    <div class="row">
    {% for result in results %}
        <div class="col-6 col-md-4">
           <div class="card">
                <a href="/recipe/{{result.id}}" class="link">
                    <img src="{{result.image}}" alt="" class="img-fluid card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">{{result.title}}</h4>
                    </div>
                </a>
           </div>
        </div>
    {% endfor %}
 
{% else %}
<h1>0 results found for "{{search}}"</h1>
{% endif %}
    
    </div>
</div>




{% endblock %}